@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: ivory;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
  opacity: 0.95;
}

strong {
  opacity: 0.8;
}

.technology {
  border-radius: 15px;
  background: #ffffff;
  box-shadow: -5px 5px 9px #cccccc, 5px -5px 9px #ffffff;
  width: 110px;
}
